html {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdvH-DlIGlHTNuHzqn7NuR2SgTRiV8b4f8nQ&usqp=CAU');
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body {
    background: #212121;
}
#DigitalCLOCK {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #ff4747;
    font-size: 60px;
    font-family: 'Righteous', cursive;
    letter-spacing: 7px;
}

body,h1 {
  text-align: center;
  font-size: 40px;
  color: white;   
  margin: 10rem;
  font-family: cursive;
  line-height: 1.5;
}


